
  <mat-card class="user-story">
    <mat-card-header>
      <mat-card-title>USER STORY TITLE</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <b>USER STORY DESCRIPTION</b>is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="user-story">
    <mat-card-header>
      <mat-card-title>USER STORY TITLE</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <b>USER STORY DESCRIPTION</b>is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
