<div class="container">
  <mat-card class="mat-elevation-z3 p-4">

    <div class="row">
      <div class="col-6">
        <h3 class="mb-4">Projects Overview</h3>
      </div>
      <div class="col-6">
        <button class="float-right" mat-flat-button color="primary" (click)="openCreate()">
          New Project
        </button>
        <button class="float-right mr-2" mat-stroked-button color="basic" [routerLink]="['/projects/archived']">Archived</button>
      </div>
    </div>

    <div style="height: 70vh;">

      <mat-accordion>
        <!-- *ngFor loop -->
        <mat-expansion-panel *ngFor="let project of projects">
          <mat-expansion-panel-header *ngIf="!project.payload.doc.data().isArchived">
            <mat-panel-title>
              {{ project.payload.doc.data().name }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="mr-5">Status: {{ project.payload.doc.data().status }}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-panel-description>
            <p class="mr-2">{{ project.payload.doc.data().description }} </p>

            <p>Owner: {{ project.payload.doc.data().owner }}</p>
          </mat-panel-description>

          <!-- Extra content, like buttons -->
          <hr>

          <button mat-stroked-button color="primary" class="mr-2" [routerLink]="['/user-stories', project.payload.doc.id]">User Stories</button>
          <button mat-stroked-button color="basic" class="mr-2" [routerLink]="['/projects', project.payload.doc.id]">View</button>
          <button mat-stroked-button color="basic" class="mr-2" (click)="editProject(project.payload.doc.id)">Edit</button>
          <button mat-stroked-button color="basic" class="mr-2" (click)="archiveProject(project.payload.doc.id)">Archive</button>
          <button mat-stroked-button color="basic" class="mr-2" (click)="deleteProject(project.payload.doc.id)">
            <mat-icon aria-hidden="false" aria-label="Delete button">delete_outline</mat-icon>
          </button>

        </mat-expansion-panel>

      </mat-accordion>

    </div>
  </mat-card>
</div>
