<div class="container">
  <mat-card class="mat-elevation-z3 p-4">

    <div class="row">
      <div class="col-6">
        <h3 class="mb-4">Projects Overview</h3>
      </div>
      <div class="col-6">
        <button class="float-right" mat-flat-button color="primary" (click)="openCreate()">
          New Project
        </button>
        <button class="float-right mr-2" mat-stroked-button color="basic" [routerLink]="['/projects/archived']">Archived</button>
      </div>
    </div>

    <div style="height: 70vh;">

      <mat-accordion>
        <!-- *ngFor loop -->
        <mat-expansion-panel *ngFor="let project of projects | async" (opened)="openProject(project)">
          <mat-expansion-panel-header *ngIf="!project.isArchived">
            <mat-panel-title>
              {{ project.name }}
            </mat-panel-title>
            <mat-panel-description>
              <span class="mr-5">Status: {{ project.status }}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- Project details -- work with selectedProject from here on -->
          <mat-panel-description>
            <div class="container p-0">
              <div class="row">
                <div class="col-12">
                  <span class="font-weight-bold">Owner: </span>
                  {{ selectedProject.owner }}
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-12">
                  <span class="font-weight-bold">Description: </span>
                  <p>{{ selectedProject.description }}</p>
                </div>
              </div>

              <div class="row mt-2">
                <div class="col-12">
                  <span class="font-weight-bold">Members: </span>
                  <div class="mt-1">
                    <mat-chip-list>
                      <mat-chip *ngFor='let member of selectedProject.members'>
                        <span *ngIf='member.user | async as user'>
                          {{ user.displayName }}:
                        </span>
                        <span class="ml-1">
                          {{ member.role }}
                        </span>
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
              </div>
            </div>
          </mat-panel-description>

          <!-- Extra content, like buttons -->
          <hr>

          <button mat-stroked-button color="basic" class="mr-2" [routerLink]="['/projects', project.id]">View</button>
          <button mat-stroked-button color="basic" class="mr-2" (click)="editProject(project.id)">Edit</button>
          <button mat-stroked-button color="basic" class="mr-2" (click)="archiveProject(project.id)">Archive</button>
          <button mat-stroked-button color="basic" class="mr-2" (click)="deleteProject(project.id)">
            <mat-icon aria-hidden="false" aria-label="Delete button">delete_outline</mat-icon>
          </button>

        </mat-expansion-panel>

      </mat-accordion>

    </div>
  </mat-card>
</div>
