<div class="container">
  <mat-card class="mat-elevation-z3 p-4 mb-4">

    <!-- Header area -->
    <div class="row">
      <div class="col-6">
        <h3 class="mb-1">Archived User Stories Overview</h3>
        <p class="mt-0 mb-4 p-0">{{ project.name }}</p>
      </div>
      <div class="col-6">
        <button class="float-right mr-2" mat-stroked-button color="basic" 
                [routerLink]="['/user-stories/', projectId]">
          Active User Stories
        </button>
      </div>
    </div>

    <div class="mb-1">
        <div class="row">
          <div class="col-md-4" *ngFor="let userStory of userStorys | async">

            <!-- TODO: Make loose component out of this -->
            <mat-card class="mat-elevation-z3 mb-4">
              <mat-card-header>
                <mat-card-title>{{ userStory.title }}</mat-card-title>
                <mat-card-subtitle>
                  SP: {{ userStory.storyPoints }}
                </mat-card-subtitle>
              </mat-card-header>

              <mat-card-content class="p-3">
                <p>
                  {{ userStory.description }}
                </p>
              </mat-card-content>

              <mat-card-actions class="p-3">

                <!-- Unarchive -->
                <button mat-icon-button 
                matTooltip="Make this User Story active again"
                [matTooltipPosition]="'above'"
                class="mr-2" (click)="recover(userStory.id)">
                  <mat-icon aria-hidden="false" aria-label="Delete button">unarchive</mat-icon>
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
  </mat-card>
</div>
