<div class="container">
  <mat-card class="mat-elevation-z3 p-4" *ngIf="sprint | async as sprint">
    <div class="row">
      <div class="col-6">
        <h3>
          Board for {{ sprint['title'] }}
        </h3>
      </div>
      <div class="col-6">
        <button class="float-right" mat-flat-button color="primary" (click)="openCreate()">
          New User Story
        </button>
        <button class="float-right mr-2" mat-flat-button color="primary" (click)="openBurndown(sprint)">
          Burndown Chart
        </button>
      </div>
    </div>

    <div class="row mt-4" *ngIf="userStorys | async as userStorys">
      <div class="col-12">
        <hr>
        <div class="row">
          <div class="col-3">To Do</div>
          <div class="col-3">In Progress</div>
          <div class="col-3">Review</div>
          <div class="col-3">Done</div>
        </div>

        <div class="row mt-2">
          <div class="col-3">
            <div
              cdkDropList
              #todoList="cdkDropList"
              [id]="statuses[0]"
              [cdkDropListData]="todo"
              [cdkDropListConnectedTo]="[doneList, inProgressList, reviewList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of todo" cdkDrag [cdkDragData]="item">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      {{ item.title }}
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-6">
                      <span class="float-left story-points" *ngIf="item.assignee">Assigned to {{ item.assignee }}</span>
                    </div>
                    <div class="col-6">
                      <span class="float-right story-points">SP: {{ item.storyPoints }}</span>
                    </div>
                  </div>
                </div>
            </div>
            </div>
          </div>

          <div class="col-3">
            <div
              cdkDropList
              #inProgressList="cdkDropList"
              [id]="statuses[1]"
              [cdkDropListData]="inProgress"
              [cdkDropListConnectedTo]="[doneList, todoList, reviewList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">

              <div class="example-box" *ngFor="let item of inProgress" cdkDrag [cdkDragData]="item">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      {{ item.title }}
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-6">
                      <span class="float-left story-points" *ngIf="item.assignee">Assigned to {{ item.assignee }}</span>
                    </div>
                    <div class="col-6">
                      <span class="float-right story-points">SP: {{ item.storyPoints }}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-3">
            <div
              cdkDropList
              #reviewList="cdkDropList"
              [id]="statuses[2]"
              [cdkDropListData]="review"
              [cdkDropListConnectedTo]="[doneList, todoList, inProgressList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of review" cdkDrag [cdkDragData]="item">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      {{ item.title }}
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-6">
                      <span class="float-left story-points" *ngIf="item.assignee">Assigned to {{ item.assignee }}</span>
                    </div>
                    <div class="col-6">
                      <span class="float-right story-points">SP: {{ item.storyPoints }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div
              cdkDropList
              #doneList="cdkDropList"
              [id]="statuses[3]"
              [cdkDropListData]="done"
              [cdkDropListConnectedTo]="[todoList, inProgressList, reviewList]"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of done" cdkDrag [cdkDragData]="item">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      {{ item.title }}
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-6">
                      <span class="float-left story-points" *ngIf="item.assignee">Assigned to {{ item.assignee }}</span>
                    </div>
                    <div class="col-6">
                      <span class="float-right story-points">SP: {{ item.storyPoints }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>