<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Add New Member</h2>

      <p>When searching, please enter the full name of the user. Searching is case sensitive.</p>
    </div>
  </div>

  <div class="row mt-4 mb-0">
    <div class="col-12">

      <mat-form-field>
        <mat-label>Search for a User</mat-label>
        <input matInput [(ngModel)]="displayName">
      </mat-form-field>

      <button class="ml-2" mat-stroked-button color="basic" (click)="searchMember(displayName)">Search</button>

    </div>
  </div>

  <div *ngIf="foundUser | async as user">
    <div class="row">
      <div class="col-12">
        <span >
          <span>
            Found user {{ user['displayName'] }}.
          </span>
        </span>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-12">

        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select [(ngModel)]="selected">
            <mat-option *ngFor="let role of roles" [value]="role.viewValue">
              {{ role.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <button class="float-right mr-2" mat-flat-button color="primary" (click)="addMember(user['uid'])">
          Add
        </button>
      </div>
    </div>
  </div>
</div>
