<div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="mb-4">Edit {{ project.name }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="container">
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="name">
          </mat-form-field>

          <br>
          <mat-form-field class="full-width">
            <mat-label>Change Owner</mat-label>
            <mat-select>
              <mat-option [(ngModel)]="owner">{{ project.owner }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea [(ngModel)]="description"></textarea>
          </mat-form-field>
          <br>
          <button mat-flat-button color="primary" (click)="update()">Save</button>
      </div>
    </div>
</div>
