/* TODO: No accessibility, this is bad practice! */
:focus { outline: none; }

.fill-space {
  flex: 1 1 auto;
}

.margin-top {
  margin-top: 85px;
}

.sidenav {
  width: 304px;
  min-width: 304px;
}

.margin-left {
  margin-left: 16px;
}
