html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Helper classes */
.full-width {
  width: 100%;
}

.position-fixed{
  position: fixed;
}

.z-index-999 {
  z-index: 999;
}

.cursor-pointer {
  cursor: pointer;
}
